**/__pycache__/
env
^\.env\/$
*env
.env
*/env/
/env/
*/.env/
__pycache__
.env/
.env/lib/python3.10/site-packages/click/__pycache__/
*.env/lib/python3.10/site-packages/click/__pycache__/
Database_Generator/config.json